EnatisRepository/Service References/HubbleService/DocumentUpload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentUpload" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hubbleadqa.zarsa.corpintra.net/Services/DocumentUpload.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hubbleadqa.zarsa.corpintra.net/Services/DocumentUpload.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hubbleadqa.zarsa.corpintra.net/Services/DocumentUpload.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hubble.Web.ViewModel.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentUpload_UploadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentUpload_UploadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentUpload_UploadDocumentForCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentForCollection" />
  </wsdl:message>
  <wsdl:message name="IDocumentUpload_UploadDocumentForCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentForCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentUpload_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IDocumentUpload_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentUpload">
    <wsdl:operation name="UploadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentUpload/UploadDocument" message="tns:IDocumentUpload_UploadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentUpload/UploadDocumentResponse" message="tns:IDocumentUpload_UploadDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDocumentForCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentUpload/UploadDocumentForCollection" message="tns:IDocumentUpload_UploadDocumentForCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentUpload/UploadDocumentForCollectionResponse" message="tns:IDocumentUpload_UploadDocumentForCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentUpload/Test" message="tns:IDocumentUpload_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentUpload/TestResponse" message="tns:IDocumentUpload_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentUpload" type="tns:IDocumentUpload">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentUpload/UploadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocumentForCollection">
      <soap:operation soapAction="http://tempuri.org/IDocumentUpload/UploadDocumentForCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IDocumentUpload/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentUpload">
    <wsdl:port name="BasicHttpBinding_IDocumentUpload" binding="tns:BasicHttpBinding_IDocumentUpload">
      <soap:address location="http://hubbleadqa.zarsa.corpintra.net/Services/DocumentUpload.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>