FileWatcher/Service References/HubbleService/DocumentUpload1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hubbleadqa.zarsa.corpintra.net/Services/DocumentUpload.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hubble.Web.ViewModel.Services" />
  <xs:element name="UploadDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionId" type="xs:int" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="documentNameAndExtension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalPages" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hubble.Web.ViewModel.Services" minOccurs="0" name="UploadDocumentResult" nillable="true" type="q1:UploadDocumentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentForCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collectionId" type="xs:int" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="documentNameAndExtension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keywords" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentForCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hubble.Web.ViewModel.Services" minOccurs="0" name="UploadDocumentForCollectionResult" nillable="true" type="q2:UploadDocumentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>